<div class="about">
  <div class="container">
        <img src="./../../../../assets/foto3.jpeg" alt="" data-aos="zoom-in">
        <div class="texto" data-aos="fade-left">
          <h1>Sobre Mi</h1>
          <p>Soy estudiante avanzado de Ingenieria Electronica en Universidad Tecnologica Nacional de la provincia de Cordoba. En el año 2019 me forme como Programador Web Frontend en el Instituto de Asociacion Civil en cojunto con la Secretaria de Extension de la Facultad de Ciencias Exactas, Fisicas y Naturales de la Universidad Nacional de Cordoba.</p>
          <p>Actualmente sigo formandome en el desarrollo de Aplicaciones Web, moviles y desarrollo Backend mediante cursos y capacitaciones.</p>
          <p>Me considero una persona acertiva en mis relaciones interpersonales y en la comunicacion con las mismas, soy entusiasta y resolutivo ante situaciones que asi lo demanden. Me motiva estar en constante capacitacion y poder desarrollar proyectos que potencien mis habilidades tanto profesionales como personales.</p>
        </div>
      </div>
    </div>