.about{
    display:flex;
    align-items: center;
    width: 100%;
    height: 100vh;
}
h1{
    text-align: center;
    padding:15px;
}
p{
    font-size: 100%;
}
.container{
    min-width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
img{
    width: 350px;
}
.texto{
    width: 50%;
}
@media(max-width:780px){
    .container{
        flex-direction: column;
    }
    img{
        display: none;
    }
    .about,.texto{
        width: 100%;
        padding:15px;
        padding-top: 0;
    }
}
@media(max-width:480px){
    .about{
        text-align: center;
        height: 100vh;
        margin-top:20%;
    }
}
@media(max-width:320px){
    .about{
        padding-top:40%;
    }
}