<div class="about">
  <div class="container">
        <img src="./../../../../assets/foto3.jpeg" alt="" data-aos="zoom-in">
        <div class="texto" data-aos="fade-left">
          <h1>Sobre Mi</h1>
          <p>Soy estudiante avanzado de Ingeniería Electrónica en la Universidad Tecnológica Nacional de la provincia de Córdoba. En el año 2019 comencé a formarme como Programador Web Frontend en el Instituto de Asociación Civil ICARO en cojunto con la Secretaría de Extensión de la Facultad de Ciencias Exactas, Físicas y Naturales de la Universidad Nacional de Córdoba.</p>
          <p>Actualmente sigo formandome en el desarrollo de Aplicaciones Web, móviles y desarrollo Backend mediante cursos y capacitaciones.</p>
          <p>Soy entusiasta, me apasiona la resolución de problemas y creación de soluciones. Me motiva estar en constante capacitación y poder desarrollar proyectos que potencien mis habilidades tanto profesionales como personales.</p>
        </div>
      </div>
    </div>