<div class="container">
<app-header></app-header>
<section class="home" id="home">
    <div  class="cabecera" data-aos="fade-right">
        <h1>Mario Romero</h1>
        <div class="typewriter">
            <h2>Desarrollador Angular  .<span>&#160;</span></h2>
        </div>
    </div>
    <div class="presentacion" data-aos="zoom-in">
        <img src="./../../../../assets/perfilMario.png" alt="desarrollador">
    </div>
</section>

<app-about id="about"></app-about>

<app-proyects id="proyectos"></app-proyects>

<app-tech></app-tech>

<app-contact id="contacto"></app-contact>

<app-footer></app-footer>
</div>
