<div class="container">
    <h1 data-aos="fade-up">Contacto</h1>
    <div class="contacto">
      <p *ngIf= "enviado">Tu mensaje fue enviado correctamente, me pondre en contacto!.</p>
        <form [formGroup]="contacto">
            <div class="form-group" data-aos="fade-left">
              <label>Nombre</label>
              <input 
                type="text"
                class="form-control"
                [class.is-valid]= "nombreFieldValid"
                [class.is-invalid]= "nombreFieldInvalid"
                formControlName="nombre">
            </div>
            <div class="form-group" data-aos="fade-right">
              <label>Email</label>
              <input 
                type="text" 
                class="form-control"
                [class.is-valid]= "emailFieldValid"
                [class.is-invalid]= "emailFieldInvalid"
                formControlName="email">
                <p *ngIf="emailFieldInvalid">No es un email valido</p>
              </div>
              <div class="form-group" data-aos="fade-left">
                <label>Telefono (opcional)</label>
                <input type="number" class="form-control" formControlName="telefono" placeholder="+541234567890">
              </div>
              <div class="form-group" data-aos="fade-right">
                <label>Mensaje</label>
                <textarea 
                class="form-control"
                [class.is-valid]= "msgFieldValid"
                [class.is-invalid]= "msgFieldInvalid"
                formControlName="msg"
                placeholder="Escribe tu mensaje"></textarea>
              </div>
            <button type="button" class="btn btn-outline-primary" (click)="enviar()">Enviar</button>
          </form>
    </div>

</div>
